@import '../../../styles/_colors.scss';
.DashboardView {
  padding: 20px;
  padding-bottom: 80px;
  background: $bgLightGray;
  &__Dialog{
    z-index: 0 !important;
    & > div:nth-child(2){
      width: 50%;
    }
  }
  &__AddModal{
    &--formControl{
      width: 100% !important;
      margin-bottom: 10px !important;
    }
    &--ImageContainer{
      border: solid 1px $lightGray;
      margin-bottom: 20px;
      .hidden{
        display: none;
      }
      img{
        border: solid 1px $lightGray;
        padding: 10px;
        margin: 10px;
        &.active{
          border: solid 1px $black;
          box-shadow: 0px 0px 3px 4px rgba(0,0,0,0.4);
        }
      }
    }
    button{
      float: right;
    }
  }
  &__logo {
    width: 40rem;
    margin: 10% auto 0;
  }
  &--top{
    display: flex;
    &--title, &--option{
      flex-grow: 0.5;
      &__input{
        width: 100%;
      }
    }
  }
  &--bottom{
    text-align: right;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: $white;
    padding: 20px;
    margin-left: -20px;
  }
  &--graph{
    &--empty{
      width: 400px;
      height: 130px;
      padding: 20px;
      border: dotted 2px $black;
      font-size: 40px;
      display: flex;
      margin: 100px auto;
      justify-content: center;
      align-items: center;
    }
    &--item{
      padding: 20px !important;
      position: relative;
      height: 100%;
      canvas{
        max-height: 100% !important;
      }
      &__container{
        height: 90%;
      }
      &--setting{
        position: absolute !important;
        right: 0px;
        top: 0px;
      }
      img{
        position: absolute !important;
        right: 30px;
        bottom: 20px;
      }
    }
  }
}

