@import '../../../styles/_colors.scss';
.DashboardView {
  padding: 20px;
  background: $bgLightGray;
  &__logo {
    width: 40rem;
    margin: 10% auto 0;
  }
  &--top{
    display: flex;
    &--title, &--option{
      flex-grow: 0.5;
    }
  }
  &--graph{
    &__item{
      padding: 20px !important;
      position: relative;
      &--setting{
        position: absolute !important;
        right: 0px;
        top: 0px;
      }
      img{
        position: absolute !important;
        right: 30px;
        bottom: 20px;
      }
    }
  }
}

