@import '../../../styles/_colors.scss';
.DashboardView {
  padding: 20px;
  background: $bgLightGray;
  &__Dialog{
    & > div:nth-child(2){
      width: 50%;
    }
  }
  &__AddModal{
    &--formControl{
      width: 100%;
      margin-bottom: 10px !important;
    }
    &--ImageContainer{
      border: solid 1px $lightGray;
      .hidden{
        display: none;
      }
      img{
        border: solid 1px $lightGray;
        padding: 10px;
        margin: 10px;
        &.active{
          border: solid 1px $black;
          box-shadow: 0px 0px 3px 4px rgba(0,0,0,0.4);
        }
      }
    }
  }
  &__logo {
    width: 40rem;
    margin: 10% auto 0;
  }
  &--top{
    display: flex;
    &--title, &--option{
      flex-grow: 0.5;
    }
  }
  &--graph{
    &__item{
      padding: 20px !important;
      position: relative;
      &--setting{
        position: absolute !important;
        right: 0px;
        top: 0px;
      }
      img{
        position: absolute !important;
        right: 30px;
        bottom: 20px;
      }
    }
  }
}

