@import '../../../styles/_colors.scss';
body{
  background: $bgLightGray !important;
  .ClientsView {
    padding: 20px;
    padding-bottom: 80px;
    background: $bgLightGray;
    &__Dialog{
      z-index: 0 !important;
      & > div:nth-child(2){
        width: 50%;
      }
    }
    &__AddModal{
      &--formControl{
        width: 100%;
        margin-bottom: 10px !important;
        &.small{
          width: 45%;
        }
        &.float-right{
          float: right !important;
        }
      }
      &--clients{
        ul{
          list-style: none;
          padding: 0px;
          li{
            border-bottom: solid 1px $gray;
            padding: 8px 20px;
            .ant-checkbox{
              margin-right: 20px;
            }
          }
        }
      }
      button{
        float: right;
        margin-left: 20px;
        background-color: $black;
        color: $white;
      }
      p{
        cursor: pointer;
      }
    }
    &__logo {
      width: 40rem;
      margin: 10% auto 0;
    }
    &--top{
      display: flex;
      &--title, &--option{
        flex-grow: 0.5;
        &__input{
          width: 100%;
        }
      }
    }
    &--bottom{
      text-align: right;
      position: fixed;
      bottom: 0px;
      width: 100%;
      background: $white;
      padding: 20px;
      margin-left: -20px;
      button{
        background-color: $black;
        color: $white;
      }
    }
    &--content{
      background-color: $white;
      border: solid 1px $gray;
      padding: 50px 20px;
      &--empty{
        &--content{
          width: 200px;
          height: 100px;
          padding: 20px;
          border: dotted 2px $gray;
          font-size: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
      &--item{
        padding: 20px !important;
        position: relative;
        height: 100%;
        canvas{
          max-height: 100% !important;
          &[id]{
            display: none !important;
          }
        }
        &__container{
          height: 90%;
        }
        &--setting{
          position: absolute !important;
          right: 0px;
          top: 0px;
        }
        img{
          position: absolute !important;
          right: 30px;
          bottom: 20px;
        }
      }
    }
  }
}


